<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>密碼更改成功</title>
        <style type="text/css">
            .head{
                background-color:#003344;color:rgb(18, 18, 18);font-weight:bold;font-size:40px;
                text-align:center;padding:10px
            }


        </style>
    </head>
    <body style=" margin:0px;background-image:url('th.jpg');background-size:cover;" >
        <div class="head">恭喜   密碼更改成功</div>
        <span>
            <img style="vertical-align:bottom;margin-left:258px;border:1px solid #003344 ;" height="350" width="1000"src="head.jpg" border="0">
            <b>您的新密碼為,{{newpassword}}請記清楚</b>
        </span>

        <div><a href="/ ">返回</a><div>
    </body>
</html>