<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重置您的密碼</title>
    <style type="text/css">
        #resetform{
            margin-top: 350px;
            margin-left: 750px;
        }
        .head{
            background-color:#003344;color:white;font-weight:bold;font-size:40px;
            text-align:center;padding:10px
        }
    </style>
<!-- </head>
<body> -->

    <!-- <div class="frame">
        <div class="left">
            <div class="title">更改密碼</div>
            <form method="POST" action= "">
                <div style="margin:5px"> -->
</head>
<body style="margin:0px;font-size:30px;background-image:url('bgi.png');background-size:cover;;margin:0px;">
    <style>
    /* <!-- <div style="text-align:center;" --> */

    .resetform{text-align:center}
    .head{text-align:center}
    form>input:valid+.ok{
            display:inline;
    }
    form>input:invalid+.ok{
            display:none;
    }

    </style>
</div>


        <div class="head"style="border-collapse:collapse;width:1500px;"><h3>修改密碼</h3></div>


        <!-- </div> -->


    <form method="post" action="/changepassword1" name="resetform"style="font-size:35px;text-align:center;">
        <tr>
            信箱:<input type ="email"name="email" required placeholder="請輸入信箱" />
            <span class="ok">ok</span></br>
        </tr><br>
        <tr>
            舊密碼:<input type ="password"name="password" required placeholder="請輸入您的舊密碼"pattern="[0-9 a-z A-Z]{10,20}"/>
            <span class="ok">ok</span></br>
        </tr><br>
            新密碼:<input type ="password"name="newpassword" required placeholder="請輸入您的新密碼"pattern="[0-9 a-z A-Z]{10,20}"/>
            <span class="ok">ok</span></br>
        </tr><br>
        <tr>
            新密碼:<input type ="password"name="newpassword1" required placeholder="請再次輸入您的新密碼"pattern="[0-9 a-z A-Z]{10,20}"/>
            <span class="ok">ok</span></br>
        </tr><br>
        <tr>
            <td><input type="reset" value="清空"></td>
            <td><input class="button text" type="submit" name="B1" onclick="changepassword1()" value="提交" ></td>
            <td><input type="button"  value="返回"  onclick="location.href='/member'" /></td>
</html>
