<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>更改密碼</title>
        <style type="text/css">
            .head{
                background-color:#003344;color:rgb(18, 18, 18);font-weight:bold;font-size:40px;
                text-align:center;padding:10px
            }
        </style>
    </head>
    <body style=" margin:0px; background-image:url('th.jpg');background-size:cover;">
        <div class="head"><font color="#FF0000">密碼錯誤</font></div>
        <center>
        <h3><font color="#FF0000">密碼錯誤，請重新更改</font></h3>
        <div><a href = "/"><font size="6"><p>返回</p></font><br></a></div>
        </center>
    </body>
</html>