<!DOCTYPE html>
    <html>
        
        </head>
        <body style="font-size:30px;margin:0px;background-image:url('bgi.png');background-size:cover;" >
        <div style="text-align:center;">
            <div class="head"><h3>找回密碼</h3></div>
        </div>
   
  
        <div>
            <table align="center" valign="top" cellpadding="1" style="border-collapse:collapse;color:white";>
                <tbody>
                    <td>
                        <div>
                            <table width="1000" border="0" cellspacing="0" cellpadding="1">
                                <tbody>
                                    <tr>
                                        <td align="left" class="text" style="background-color:#111112;height:274px;">



                                            <!-- <form method="post" action="/mail" name="resetform"style="font-size:35px;text-align:center;"></form> -->
                                            <div class="frame">
                                                <div class="left">
                                                    <div class="title">找回密碼</div>
                                                    <form method="post" action= "/mail">
                                                        <div style="margin:5px">
                                                            <span class="title">學號:</span>
                                                            <input type="idnumber" name="idnumber" size="15">
                                                        </div>
                                                        <div style="margin:5px;">
                                                            <span class="title">電子信箱: </span>
                                                            <input type="email" name="email" size="15">
                                                        </div>
                                                        <tr>
                                                            <td><input type="reset" value="清空"></td>
                                                            <td><input type="button"  value="返回"  onclick="location.href='/ ' "></td>
                                                            <td><input class="button text" type="submit" name="B1" onclick="resertpass()" value="提交" ></td>
                                                
                                                        </tr>
                                                        <!-- <div style="margin:5px">
                                                            <span class="title">驗證碼:</span>
                                                            <input type="text" name="ValidCode"  size="10">
                                                            <img id="imgVC" name="imgVC" style="vertical-align:middle" src="https://selcrs.nsysu.edu.tw/validcode.asp?epoch=1647307856694" onclick="this.src='https://selcrs.nsysu.edu.tw/validcode.asp?epoch=1647307856694'+(new Date()).getTime()" >
                                                            <span class ="button text-S">
                                                                <a href="#" onclick="javascript:document.getElementById('imgVC').src='https://selcrs.nsysu.edu.tw/validcode.asp?epoch=1647307856694' +(new Date( )).getTime()"></a> -->
                                                            <!-- </span> -->
                                                
                                                        
                                                    </from>
                                                </div>



                       
                                                <div  class="right">
                                                    <script language="javascript">

                                                       