<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>寄送成功</title>
        <style type="text/css">
            .head{
                background-color:#003344;color:rgb(18, 18, 18);font-weight:bold;font-size:40px;
                text-align:center;padding:10px
            }
        </style>
    </head>
    <body style=" margin:0px; background-image:url('th.jpg');background-size:cover;">
        <div class="head">寄送成功</div>
        <h3>通知信件已寄送成功</h3>
        <div><a href = "/resertpassword">返回</a></div>
    </body>
</html>